PasswordReset#password_reset

<%= @greeting %>, find me in app/views/password_reset_mailer/password_reset.text.erb

<h1>Hi <%= params[:user].email%></h1>
<p> Link will expire after 15 min. </p>
<%= password_reset_edit_url(token: @token) %>
