<h1>PasswordReset#password_reset</h1>
<%#= link_to "Reset Password", password_reset_edit_url%>
<p>
  <%= @greeting %>, find me in app/views/password_reset_mailer/password_reset.html.erb
</p>
  <h1>Hi <%= params[:user].email %></h1>
  <p> Link will expire after 15 min. </p>
<%= link_to "Reset Password", password_reset_edit_url(token: @token)%>

